/*Navigation Styles */
nav {
    position: fixed;
    top: 0;
    left:  0;
    z-index: 9999;
    width: 100%;
    height: 60px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding:10px 5px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10%;
    display: inline
    
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color=black;
}

/*Body and Typography*/

body {
    font-family: 'Helvetica', sans-serif;
    color:black;
    margin: 2% auto;
    padding: 0 5%;
    text-align: center;
    white-space: pre-wrap;
}

p {
    font-size: 1.2rem;
    margin: auto;
    line-height: 1.5;
    text-wrap:stable;
} 
    /*stadard headings*/
h1, h2, h3 {
    margin: 0; /*spacing above heading*/
    color: #333; 
    text-align: center;
}

footer{
    text-align: center;
    padding: 20px 0;
    background-color: #f8f8f8;
    position: relative
}
/*images*/
.center-image {
    display: block;
    margin: 20px auto; /*added top and bottom margin*/
    width: 50% 
    height: auto;
}
.float-right {
    float: right;
    margin-right: 20%;
    margin-bottom: 5px;
}

.float-left {
    float: left;
    margin: 2%;
    margin-bottom: 5px;
}
